<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="deferredPrompt" slot="start">
      <ion-button color="success" (click)="showInstallBanner()" routerLink="/browse" [replaceUrl]="true">
        <ion-icon slot="start" name="archive-outline"></ion-icon>
        Instalar
      </ion-button>
    </ion-buttons>
    <ion-title  mode=ios>
      VisitAR Alpha01
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" color="secondary">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gradient" mode="md" [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VisitAR</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div style="max-width: 500px; width:100%; margin: auto; text-align: center;" > -->
    <div class="container">
    <ion-list lines="full" detail>
      <ion-item-divider style="height: 40px;" color="secondary">
        <h3>Rondas Sanitarias</h3>
      </ion-item-divider>
      <div *ngFor="let item of campaniasJson?.campanias; let i = index" (click)="enviarCampanias(item?.Id)">
        <ion-item detail *ngIf="campaniasJson?.campanias.length > 0" button>
          <ion-thumbnail slot="start">
            <img src="assets/imgs/campaign_icon.svg">
          </ion-thumbnail>
          <ion-label text-wrap>
            <h3>Id:{{item?.Id}} CAPS: {{item?.CAPS}} Nom: {{item?.Nombre}}</h3>
            <p>{{item?.Descripcion}} - Fecha Fin: {{item?.FechaFin | date:"dd/MM/yy" }}</p>
          </ion-label>
        </ion-item>
      </div>
      <div *ngIf="campaniasJson?.campanias.length <= 0">
        <h2 text-center>No hay campañas disponibles...
        </h2>
      </div>
    </ion-list>
    <div class="footer-button">

      <ion-button  (click)="getCampanias()" expand="block" shape="round"   >
        Bajar Rondas
      </ion-button>
    </div>
  </div>
</ion-content>
